@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Página de adiós</h1>
@for(int i = 0; i < (int)ViewData["veces"]; i++)
{
    <p>@ViewData["frase"]</p>
}