@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // codigo de c#
}
<h1>Este es el index de hola mundo</h1>
<p>@ViewData["mensaje"]</p>